<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order.order_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order.item_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Placed at:</strong>
  <%= @order.placed_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>


<% if isEmployee? %>
  <%= link_to 'Process', edit_order_path(@order) %> |
<% else %>
  <%= link_to 'Edit', edit_order_path(@order) %> |
<% end %>
  
<%= link_to 'Back', orders_path %>
